<div class="col-md-7">
    <div class="panel">
        <div class="panel-primary">
            <div class="panel-heading">{{product.brand}} {{product.model}}</div>
            <div class="panel-body">
                <div>price: ${{product.price}} </div>
                <div>InStock {{#if inStock}}
                    <input type="checkbox" checked="true" disabled="disabled" /> {{else}}
                    <input type="checkbox" disabled="disabled"> {{/if}}
                </div>
            </div>
            <div class="panel-footer">
                <div>{{product.lastUpdated}}</div>
            </div>
        </div>
    </div>
    <h1>Reviews</h1>
    {{#if product.reviews}} {{#each product.reviews}}
    <div>
        <h3>{{subject}} {{rating}} *</h3>
        <p>{{message}}</p>
        <div class="text-muted">{{lastUpdated}}</div>
        <hr/>
    </div>
    {{/each}} {{else}}
    <h3>Be the first one to review</h3>

    {{/if}}


</div>
{{!-- Zen coding --}}